<% flash.each do |type, msg| %>
  <% alert_class = case type.to_sym
    when :notice then 'alert alert-success'
    when :alert then 'alert alert-danger'
    else 'alert alert-info'
  end %>
  <div class="<%= alert_class %> mt-3">
    <%= msg %>
  </div>
<% end %>
